body{
    padding:0;
    margin: 0;
}
/* a{
    font-weight: bold;
    color: #1FA464;
    text-decoration:none;
}
a:link{
    color: #1FA464;
}
a:hover{
    color:#198350;
    text-decoration:underline;
}
 a:visited{
    color: #fff;
} 
a:active{
    color: #1FA464;
} */

li{
    margin: 0px;
    padding: 5px;
    float: left;
    list-style:none;
}

ul{
    float: left;
    margin: 0px;
    padding: 0px;
}

/* .active{
    background: #D58A00;
     border-bottom:2px solid #D58A00;  
} 
*/

div{
    /*border:1px solid black; */
}

/*nav*/
.nav{
    background: #1FA464;
    width: 100%;
    padding:3px;
    /*border-bottom:2px solid #666; */
    box-shadow: 0px 2px 2px #555;
}
.nav a{
    font-weight: bold;
    padding: 5px;
    color:white; 
}
.nav a:hover{
    text-decoration:none;
}
.nav li:hover{
    background: #198350;
    border-radius:20px;
    /*text-decoration:none;*/
}

.fixed{
    position:fixed; 
    top:0;
}

.main{
    padding-top:60px;
}

.logo{
    float: left;
    padding: 5px;
}

.bg-site{
    background: #1FA464;
    color: white;
}

.top{
    padding-top:20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 3px #aaa;
}

.logo-bg{
    
    width:100px;
    height:100px ;
    border:2px solid whitesmoke; 
}

.li-bg{
    border:2px solid #1FA464; 
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-top{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    background: white;
    border-bottom:2px solid #1FA464; 
}
.btn-active{
    background: #1FA464;
    color: white;
}