<!DOCTYPE html>
<html lang="en">

<head>
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}-hamgo</title>
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/hamgo.css">
</head>

<body>
	<!--nav-->
	<div class="nav fixed">
		<div class="container">
			<div class="logo">hamgo</div>
			<ul>
			<li><a id="nav_home" href="{{site.baseurl}}/">Home</a></li>
			<li><a id="nav_doc" href="{{site.baseurl}}/doc/">Documention</a></li>
			<li><a id="nav_about" href="{{site.baseurl}}/about/" >About</a></li>
			<li><a id="nav_feedback" href="{{site.baseurl}}/feedback/">Feedback</a></li>
			</ul>
		</div>
	</div>
	<div class="main">
		<div class="container">
			{{content}}
		</div>
	</div>
	<!--js-->
	<script>
		var path = "{{page.url}}";
		if (path == "{{ site.page.about }}") {
			document.getElementById("nav_about").setAttribute('class','active'); 
		}else if (path == "{{ site.page.doc }}") {
			document.getElementById("nav_doc").setAttribute('class','active'); 
		}else if (path == "{{ site.page.feedback }}") {
			document.getElementById("nav_feedback").setAttribute('class','active'); 
		}else {
			document.getElementById("nav_home").setAttribute('class','active'); 
		}
	</script>

</body>

</html>